body {
    background-color: grey;
    width: 60%;
    margin: auto;
}

#main-img {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    margin: auto;

}

#main-header {
    text-align: center;
}

#img-description {
    text-align: center;
}


#link-wrapper {
    display: flex;
    border: 1px solid black;
    width: 40%;
    justify-content: center;
    margin: auto;
}